<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.pisell.merchant-profile-feishu-bot</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>-m</string>
    <string>merchant_profile_agent.feishu_bot_main</string>
    <string>--env-file</string>
    <string>__ENV_FILE__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__WORKDIR__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONPATH</key>
    <string>__SOURCE_DIR__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/merchant-profile-feishu-bot.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/merchant-profile-feishu-bot.error.log</string>
  <key>ThrottleInterval</key>
  <integer>10</integer>
</dict>
</plist>
